![Hand with calculator](calculator.png "Calculator")

Did you know that the average return from investing in stocks is 10% per year! But who wants to be average?! 

You have been asked to support an investment firm by analyzing trends in high-growth companies. They are interested in understanding which industries are producing the highest valuations and the rate at which new high-value companies are emerging. Providing them with this information gives them a competitive insight as to industry trends and how they should structure their portfolio looking forward.

You have been given access to their `unicorns` database, which contains the following tables:

`dates`
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| company_id   | A unique ID for the company.                 |
| date_joined  | The date that the company became a unicorn.  |
| year_founded | The year that the company was founded.       |

`funding`
| Column           | Description                                  |
|----------------- |--------------------------------------------- |
| company_id       | A unique ID for the company.                 |
| valuation        | Company value in US dollars.                 |
| funding          | The amount of funding raised in US dollars.  |
| select_investors | A list of key investors in the company.      |

`industries`
| Column       | Description                                  |
|------------- |--------------------------------------------- |
| company_id   | A unique ID for the company.                 |
| industry     | The industry that the company operates in.   |

`companies`
| Column       | Description                                       |
|------------- |-------------------------------------------------- |
| company_id   | A unique ID for the company.                      |
| company      | The name of the company.                          |
| city         | The city where the company is headquartered.      |
| country      | The country where the company is headquartered.   |
| continent    | The continent where the company is headquartered. |

In [51]:

SELECT industry, SUM(num) as num_unicorns,AVG(val) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE year IN (2021,2020,2019)
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3

                          industry  ...  year
0                          Fintech  ...  2021
1     Internet software & services  ...  2021
2  E-commerce & direct-to-consumer  ...  2021

[3 rows x 4 columns]

In [20]:
SELECT industry, SUM(num) as num_unicorns,AVG(val) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE year = 2020
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3

                          industry  ...  year
0     Internet software & services  ...  2020
1  E-commerce & direct-to-consumer  ...  2020
2                          Fintech  ...  2020

[3 rows x 4 columns]

In [17]:
SELECT industry, SUM(num) as num_unicorns,AVG(val) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE industry IN ('Internet software & services','E-commerce & direct-to-consumer','Fintech') AND year = 2019
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3

                          industry  ...  year
0                          Fintech  ...  2019
1     Internet software & services  ...  2019
2  E-commerce & direct-to-consumer  ...  2019

[3 rows x 4 columns]

In [53]:
SELECT industry, SUM(num) as num_unicorns,AVG(val) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE year = 2021
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3

                          industry  ...  year
0                          Fintech  ...  2021
1     Internet software & services  ...  2021
2  E-commerce & direct-to-consumer  ...  2021

[3 rows x 4 columns]

In [25]:
(SELECT industry, SUM(num) as num_unicorns,AVG(val) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE year = 2021
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3)
UNION
(SELECT industry, SUM(num) as num_unicorns,AVG(val) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE year = 2020
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3)
UNION
(SELECT industry, SUM(num) as num_unicorns,AVG(val) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE industry IN ('Internet software & services','E-commerce & direct-to-consumer','Fintech') AND year = 2019
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3)

                          industry  ...  year
0     Internet software & services  ...  2021
1                          Fintech  ...  2021
2                          Fintech  ...  2019
3                          Fintech  ...  2020
4  E-commerce & direct-to-consumer  ...  2019
5     Internet software & services  ...  2020
6  E-commerce & direct-to-consumer  ...  2020
7  E-commerce & direct-to-consumer  ...  2021
8     Internet software & services  ...  2019

[9 rows x 4 columns]

In [54]:

SELECT industry ,year , num_unicorns, average_valuation_billions
FROM ((SELECT industry, SUM(num) as num_unicorns,ROUND(AVG(val/ 1000000000),2) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE year = 2021
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3)
UNION
(SELECT industry, SUM(num) as num_unicorns,ROUND(AVG(val/ 1000000000),2) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE year = 2020
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3)
UNION
(SELECT industry, SUM(num) as num_unicorns,ROUND(AVG(val/ 1000000000),2) as average_valuation_billions, year
FROM 
(SELECT i.industry, COUNT(c.company) as num,EXTRACT(YEAR FROM d.date_joined) AS year, f.valuation as val
FROM industries AS i
LEFT JOIN companies AS c
USING(company_id)
LEFT JOIN dates as d
USING(company_id)
LEFT JOIN funding as f 
USING (company_id)
GROUP BY i.industry, c.company, year, f.valuation) AS sub_query
WHERE industry IN ('Internet software & services','E-commerce & direct-to-consumer','Fintech') AND year = 2019
GROUP BY industry, year
ORDER BY num_unicorns DESC
LIMIT 3)
) AS FINAL
GROUP BY industry, year, num_unicorns,  average_valuation_billions
ORDER BY industry, year DESC

                          industry  ...  average_valuation_billions
0  E-commerce & direct-to-consumer  ...                        2.47
1  E-commerce & direct-to-consumer  ...                        4.00
2  E-commerce & direct-to-consumer  ...                        2.58
3                          Fintech  ...                        2.75
4                          Fintech  ...                        4.33
5                          Fintech  ...                        6.80
6     Internet software & services  ...                        2.15
7     Internet software & services  ...                        4.35
8     Internet software & services  ...                        4.23

[9 rows x 4 columns]